################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/read.lock
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/74ee621a-09ef-4e19-b981-8eac080d7399.vsidx
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/321bd388-6f82-4709-ad10-d4ef1f2ad566.vsidx
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/12e12b19-63f3-43d7-ab10-37a6d2968987.vsidx
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/0b157ec2-e0ab-4d68-9b62-80dc96b3ea66.vsidx
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/config/applicationhost.config
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/v17/.suo
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/DesignTimeBuild/.dtbcache.v2
/P2P_PyJobPoster/C_SwarmWebViewer/obj/project.nuget.cache
/P2P_PyJobPoster/C_SwarmWebViewer/obj
/P2P_PyJobPoster/A_WebServer/bin/WebGrease.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.WebPages.Razor.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.WebPages.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.WebPages.Deployment.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.Razor.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.Optimization.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.Mvc.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.Http.WebHost.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.Http.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Web.Helpers.dll
/P2P_PyJobPoster/A_WebServer/bin/System.Net.Http.Formatting.dll
/P2P_PyJobPoster/A_WebServer/bin/Newtonsoft.Json.dll
/P2P_PyJobPoster/A_WebServer/bin/Microsoft.Web.Infrastructure.dll
/P2P_PyJobPoster/A_WebServer/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/P2P_PyJobPoster/A_WebServer/bin/Antlr3.Runtime.dll
/P2P_PyJobPoster/A_WebServer/bin
/P2P_PyJobPoster/.vs/ProjectEvaluation/p2p_pyjobposter.projects.v5.1
/P2P_PyJobPoster/.vs/ProjectEvaluation/p2p_pyjobposter.metadata.v5.1
/P2P_PyJobPoster/.vs/ProjectEvaluation
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/v17/.futdcache.v2
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/f35f4925-8177-412a-9ec1-7eb2668a71d5.vsidx
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/223026b8-c9e2-48e3-aa06-4fa97ed9a64e.vsidx
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/e5658482-c142-48a0-83b1-c896d8ecd8b7.vsidx
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex/e529f95d-0cab-410f-9fd6-94ceeaeada68.vsidx
/P2P_PyJobPoster/A_WebServer/obj/Debug/edmxResourcesToEmbed/Models/ClientModel.ssdl
/P2P_PyJobPoster/A_WebServer/obj/Debug/edmxResourcesToEmbed/Models/ClientModel.msl
/P2P_PyJobPoster/A_WebServer/obj/Debug/edmxResourcesToEmbed/Models/ClientModel.csdl
/P2P_PyJobPoster/A_WebServer/obj/Debug/TempPE/Models.ClientModel.Designer.cs.dll
/P2P_PyJobPoster/A_WebServer/obj/Debug/TempPE/Models.ClientModel.cs.dll
/P2P_PyJobPoster/A_WebServer/obj/Debug/TempPE/Models.ClientModel.Context.cs.dll
*.cache
*.CopyComplete
/P2P_PyJobPoster/A_WebServer/obj/Debug/A_WebServer.dll
/P2P_PyJobPoster/A_WebServer/obj/Debug/A_WebServer.pdb
/P2P_PyJobPoster/A_WebServer/obj/Debug/_IsIncrementalBuild
/P2P_PyJobPoster/B_ClientDesktopApp/bin/Debug
/P2P_PyJobPoster/packages
/P2P_PyJobPoster/C_SwarmWebViewer/bin/Debug/net6.0
/P2P_PyJobPoster/B_ClientDesktopApp/obj/Debug
/P2P_PyJobPoster/.vs/P2P_PyJobPoster/FileContentIndex
/P2P_PyJobPoster/A_WebServer/App_Date/clientDB.mdf
/P2P_PyJobPoster/A_WebServer/App_Date/clientDB_log.ldf
/P2P_PyJobPoster/A_WebServer/obj/Debug/A_WebServer.csproj.FileListAbsolute.txt
P2P_PyJobPoster/B_ClientDesktopApp/obj/Debug/B_ClientDesktopApp.csproj.FileListAbsolute.txt
P2P_PyJobPoster/B_ClientDesktopApp/obj/Debug/B_ClientDesktopApp_MarkupCompile.i.cache
P2P_PyJobPoster/C_SwarmWebViewer/obj/Debug/net6.0/C_SwarmWebViewer.csproj.FileListAbsolute.txt
P2P_PyJobPoster/C_SwarmWebViewer/obj/staticwebassets.pack.sentinel
/P2P_PyJobPoster/P2P_Library/.vs/P2P_Library/FileContentIndex
/P2P_PyJobPoster/P2P_Library/.vs/P2P_Library/v17/.suo
