html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table#tableClients {
    display: flex;
    flex-direction: column;
    border: 1px solid cornflowerblue;
    height: 70%;
    width: 90%;
    margin: auto;
}

thead {
    background-color: cornflowerblue;
}

tr {
    margin-bottom: 10px;
    border-bottom: 1px solid cornflowerblue;
}

th {
    width: 20%;
    height: 45px;
    color: white;
}

td {
    width: 20%;
    height: 45px;
    font-size: small;
}