@{
    ViewData["Title"] = "Home Page";
    @using C_SwarmWebViewer.Models
    @model MyModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="cntTable">
        <h3>Clients</h3>
            <br />
            <table id="tableClient">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Port</th>
                        <th>No. Completed Jobs</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var stat in Model.Stats)
                {
                    <tr>
                        <td>@stat.Client?.Ip_address</td>
                        <td>@stat.Client?.Port</td>
                        <td>@stat.NumCompleted</td>
                    </tr>
                }
                </tbody>
            </table>
    </div>
</div>

<script language="javascript">
    window.setTimeout(function(){
       window.location.reload(1);
    }, 60000);
</script>
